<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Chat | Stunkki's Super Chat</title>
  </head>
  <body class="chat">

    <div class="chat__sidebar">
      <h3>People</h3>
      <div id="users"></div>
    </div>

    <div class="chat__main">
      <ol id="messages" class="chat__messages"></ol>

      <div class="chat__footer">
        <form id="message-form">
          <input type="text" name="message" height="30" placeholder="Message" autofocus autocomplete="off">
          <button>Send</button>
        </form>
        <button id="send-location" type="button" name="button">Send Location</button>
      </div>

      <div id="player" style="width: 100vw"></div>
    </div>



    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady(searchTerm) {
        if(searchTerm) {
          player = new YT.Player('player', {
            playerVars: {
              listType:'search',
              list: searchTerm
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
          // player.cuePlaylist({listType:'search',
          //     list: searchTerm
          // });
          // player.loadPlayList();
          // player.PlayVideoAt(0);
        }
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>

    <!-- Templates -->
    <script id="message-template" type="text/template">
      <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
          <p>{{{text}}}</p>
        </div>
      </li>
    </script>

    <script id="location-message-template" type="text/template">
      <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
          <p>
            <a href="{{url}}" target="_blank">My current location</a>
          </p>
        </div>
      </li>
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/scripts/libs/moment.js"></script>
    <script src="/scripts/libs/moment-fi.js"></script>
    <script src="/scripts/libs/mustache.js"></script>
    <script src="/scripts/libs/deparam.js"></script>
    <script src="/scripts/chat.js"></script>
  </body>
</html>
